@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  background:   #92AFD7;
  color: #1F2F16;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 25px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
    margin: 0 auto;
  }
}

.card {
  background-color: #C5D1EB;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0,0,0,.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

h1, h2, h3 {
  color: #395B50;
  font-size: 2em;
  line-height: 40px;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

.list-inline {
  list-style-type: none;
  padding: 0;
}

.list-inline > li {
  display: inline-block;
  margin: 0 8px;
}
